*
{
	font-family: 	
}

body{
    padding: 0;
    margin: 0;
	/*color: #8D38C9;*/
	/*color: #8fbc8f;*/
	color: #F4D03F;
}

.homeHeader
{
    background-color: rgba(30,30,30,0.75);
    width: 100%;
    height: 55px;
    position: fixed;
    margin: 0px;
    top: 0px;
    left: 0px;
    z-index: 100;
}
nav ul li
{
    text-transform: capitalize;
    display: inline-block;
    list-style-type: none; 
    padding: 0 10px 0 10px;
}
nav ul li a 
{
    text-decoration: none;
    color: #dfdfdf;
}
nav ul li a:focus
{
    text-decoration: none;
    color: #9c9c9c;
    border-bottom: 2px solid #9c9c9c;
}
nav ul li:hover
{
    color: #9c9c9c;
    border-bottom: 2px solid #9c9c9c;
}
nav ul li a:hover 
{
    color: #9c9c9c; 
}
nav
{
    color: white;
    float: right;
    padding-right: 20px;
}

.aboutus{
    height: auto;
    background-image: url(about2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
footer.homeFooter
{
    margin-left: -7px;
    margin-bottom: -5px;
    min-height: 105px;
    background-color: #1e1e1e;
    color: #dfdfdf;
    font-size: small;
}
footer ul li a
{
    text-decoration: none;
    color: #dfdfdf;
}
footer ul li a:hover
{
    text-decoration: underline;
    color: #dfdfdf;
}
.copyright
{
    padding-left: 650px;
    font-size: x-small;
    color: #dfdfdf;
    padding-top: 50px;
}
.homeFooter ul
{
    float: right;
    margin-right: 20px;
}
.logo
{
    padding-left: 15px;
    float: left;
    width: 50px;
    height: 50px;
}
.aboutus img{
    height: 250px;
    width: 250px;
    border:2px solid #fff;
    border-radius: 10px;
	margin: 2%;
}
.aboutus{
	height: auto;
}
.data{
	
	padding-left: 5%;
	width: 27%;
	font-size: 22px;
}
.imgleft{
	padding-left: 15%;
}
.dataleft{
	padding-left: 20%;
	width:100%;
	font-size: 22px;
}
img:hover{
	border-color: #F4D03F;
}
.email{
	list-style-image: url("mail.png");
}
.whats{
	list-style-image: url("whatsapp1.png");
}
.hotline{
	list-style-image: url("phone-call.png");
}
.phone{
	list-style-image: url("phone.png");
}
