body
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-image: url("login1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 8px 0 0 0;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.box h2{
    margin: 0  0 30px;
    padding: 0;
    color: #FFF;
     text-align: center;
}
.box .inputbox{
    position: relative;
}
.box .inputbox input{
    width: 100%;
    padding: 10px 0;    
    font-size: 16px;
    color: #FFF;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #FFF;
    outline: none;
    background: transparent;
}
.box .inputbox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #FFF;
    transition: .5s;
}
.box .inputbox input:focus ~ label,.box .inputbox input:valid ~ label
{
    top: -20px;
    left: 0;
    color: #d57149;
    font-size: 12px;
}
.box input[type="button"]
{
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    background: #d57149;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.register
{
    margin-left: 144px;
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    background: #d57149;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/*awl el ribbon*/
.homeHeader
{
    /*border: 1px solid #fff;*/
    background-color: rgba(30,30,30,0.75);
    width: 100%;
    height: 55px;
    position: fixed;
    margin: 0px;
    top: 0px;
    left: 0px;
    z-index: 100;
    /*padding-right: 15px;*/
}

.logo
{
    padding-left: 15px;
    float: left;
    width: 50px;
    height: 50px;
}

nav ul li
{
    text-transform: capitalize;
    display: inline-block;
    list-style-type: none; 
    padding: 0 10px 0 10px;
}
 
nav ul li a 
{
    text-decoration: none;
    color: #dfdfdf;
}
 
nav ul li a:focus
{
    text-decoration: none;
    color: #9c9c9c;
    border-bottom: 2px solid #9c9c9c;
}

nav ul li:hover
{
    color: #9c9c9c;
    border-bottom: 2px solid #9c9c9c;
}
 
nav ul li a:hover 
{
    color: #9c9c9c; 
}
 
nav
{
    color: white;
    float: right;
    padding-right: 20px;
}
 
footer.homeFooter
{
    min-height: 105px;
    background-color: #1e1e1e;
    color: #dfdfdf;
    font-size: small;
    margin-top: 700px;
}

footer ul li a
{
    text-decoration: none;
    color: #dfdfdf;
}

footer ul li a:hover
{
    text-decoration: underline;
    color: #dfdfdf;
}

.copyright
{
    padding-left: 650px;
    font-size: x-small;
    color: #dfdfdf;
    padding-top: 50px;
}

.homeFooter ul
{
    float: right;
    margin-right: 20px;
}
.email{
	list-style-image: url("mail.png");
}
.whats{
	list-style-image: url("whatsapp1.png");
}
.hotline{
	list-style-image: url("phone-call.png");
}
.phone{
	list-style-image: url("phone.png");
}
/*akher el ribbon*/
